body {
    background: linear-gradient(70deg, #f1f1f3, #585656);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
}
h1, h2{
    color: #2a2d43;
    font-family: sans-serif;
    font-size: 39px;
    
}
h1{
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 8px;
}
h2{
    font-family: 'Alef', sans-serif;
    letter-spacing: 5px;
}
.container{
    width: 700px;
    margin: 40px auto;
}
.main{
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(26, 25, 25);
    background: #BFC0C0;
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}
.img-circle{
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgb(21, 124, 21);
}
p{
    color: #2a2d43;
    font-size:28px;
    font-family: 'Poppins', sans-serif;
    
}
  .list-inline{
      list-style: none;
      padding-left: 0;
  }
  .list-inline li{
      display: inline;
      padding: 10px;
  }
  .list-inline ion-icon{
      font-size: 40px;
      color:darkslategray;
  }
  .list-inline ion-icon:hover{
    font-size: 45px;
    color: rgb(19, 32, 32);
}
.btn{
    background-color: #6c757d;
    color: #495057;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 26px;
}
.btn:hover {
    background-color: #706C61;
    color: rgb(44, 43, 43);
}
  ion-icon {
    color: #000;
    font: 36px;

  }
  @media (max-width: 960px) {
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }
